@model IdentityServerManager.UI.Models.ClientScopesViewModel

@{
    ViewData["Title"] = "Client - Scopes";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Scopes" id="createForm" name="createForm">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="javascript:void(0)" onclick="saveData('Clients', 'Main')">Main</a></li>
                <li role="presentation" class="active"><a>Scopes</a></li>
                <li role="presentation"><a href="javascript:void(0)" onclick="saveData('Clients', 'Claims')">Claims</a></li>
            </ul>

            <div class="card">
                <div class="content">
                    <input type="hidden" asp-for="NextUrl" />
                    <input type="hidden" asp-for="Id" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="AvailableScopes" class="control-label"></label>
                                @Html.ListBoxFor(model => model.AvailableScopes, new MultiSelectList(Model.AvailableScopes.OrderBy(i => i.Id), "Id", "Name"), new { @class = "form-control border-input", @size = "12" })
                                <span asp-validation-for="AvailableScopes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group text-center">
                                <br />
                                <input id="assignAll" type="button" value=">>" class="btn btn-success" data-toggle="tooltip" title="Assign All" />
                                <br /><br />
                                <input id="assign" type="button" value="&nbsp;>&nbsp;" class="btn btn-success" data-toggle="tooltip" title="Assign" />
                                <br /><br />
                                <input id="unassign" type="button" value="&nbsp;<&nbsp;" class="btn btn-success" data-toggle="tooltip" title="Unassign" />
                                <br /><br />
                                <input id="unassignAll" type="button" value="<<" class="btn btn-success" data-toggle="tooltip" title="Unassign All" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="AssignedScopes" class="control-label"></label>
                                @Html.ListBoxFor(model => model.AssignedScopes, new MultiSelectList(Model.AssignedScopes.OrderBy(i => i.Id), "Id", "Name"), new { @class = "form-control border-input", @size = "12" })
                                <span asp-validation-for="AssignedScopes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="AssignedResources" />


                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <input type="button" id="save" value="Save" class="btn btn-success" data-toggle="tooltip" title="Save" />
                                <a asp-action="Index" class="btn btn-danger" data-toggle="tooltip" title="Cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Views/Clients/scopes.js"></script>
}